/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
}
.top-section{
    background-color: #2D25A0;
    display: flex;
    align-items: center;
    
}

.event-name-and-button{
    margin-left: 156px;
    margin-top: 207px;
    
}
.event-name-and-button > h2{
    width: 485px;
    height: 265px;
    color: white;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 27px;
}

.watch-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    Width:168px;
    Height:44px;
    background-color: #E02C6D;
    padding:10px, 24px, 10px, 24px ; 
    margin-bottom: 169px;
}
.watch-button>a{
    text-decoration: none;
    color: white;
}
.fa-arrow-right{
    margin-left: 8px;
}
/* ball shooting photo--- */
.top-photo{
    width: 556.01px;
    height: 438px;
    margin: 153px 140px 86px 102px;
}

/* Player name cards start----------------- */

